body{
  font-size: 100%;
}
nav{
  background-color: gray;
}
.container-fluid{
  height: 100%;
  width: 100%;
}
.primera{
  height: 100%;
  width: 100%;
  text-align: center;
}
.segunda{
  height: 100%;
  width: 100%;
}
h2{
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

p{
  color: white;
  font-size: 20px;
  font-family: 'Rancho', cursive;
}
